@import 'bootstrap/dist/css/bootstrap';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

body {
  padding: 10px;

  background: #fff !important;

  .rms_wrapper {
    margin-top: 60px !important;

  }

  .navbar {
    background:#428BCA;

    .container-fluid {
      width: 100%;

      a {
        color: #fff;

        &:hover {
          color: #ddd !important;
          
        }
      }

      .nav {
        color: #fff;

        a {
          color: #fff;

          .caret {
            border-bottom-color: #fff;
            border-top-color: #fff;
          }
        }
      }

      .dropdown-menu {
        a {
          color: #777;

          &:hover {
            color: #444 !important;
          }
        }
      }
    }
  }
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203) !important;
}

.lock-open {
  color: #fff;
  padding-left: 30px;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;

  button {
    &.btn {
      box-shadow: none;
    }
  }
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  margin-top: 10%;
  background: #F0F0F0;
  border-radius: 12px;

  .form-signin-heading {
    margin: 10px auto 20px auto;
    color: #1ab394;

  }

  .copyright {
    position: absolute;
    margin-top: 30px;
    color: #777;
  }
}

/* Pagination styling */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
  border-radius: 5px; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid blue;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


    .form-check-label{
     /*margin-left: 20px; */
     }

    .no-discound{
      background-color: #c5c5c5;
      border: #8e8f94 1px solid;
      margin-left: 0px;
     

    }